<main>
    <div>
        <h1 id="how-much-protein-should-i-eat">How much protein should I eat?</h1>
        <p>This is a very much debated topic. </p>
        <p>We&#39;ll try to sum up the various recommendations done by official entities or based on research.</p>
        <p>They are expressed as <strong>grams of proteins per kg of body mass per day</strong> but there are also discussions about this. Some argue it should be based on <a href="https://en.wikipedia.org/wiki/Lean_body_mass">lean body mass</a>. Obviously if you are 20kg overweight, there is no reason you&#39;d need more protein. For people who are overweight, I&#39;d advise to apply one of the formulas for lean body mass or just use an estimate of their &quot;ideal weight&quot;.</p>
        <p>We provide below a <em>g of chicken meat equivalent</em> just to give a better idea of what each quantity of protein represents, but of course you don&#39;t need to eat that much meat to reach the recommendation as there are plenty of other sources of protein.</p>
        <table>
        <thead>
        <tr>
        <th>g of protein / body mass / day</th>
        <th>Example for a 70kg individual /<br/>g of chicken meat equivalent</th>
        <th>Object</th>
        <th>Source</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>0.66</td>
        <td>46g of protein /<br/>178g of chicken</td>
        <td>Estimated Average Requirement (EAR). Minimum amount of protein expected to meet the individual indispensable amino acid requirements of 50% of the U.S. adult population</td>
        <td>(1)</td>
        </tr>
        <tr>
        <td>0.8</td>
        <td>56g of protein /<br/>215g of chicken</td>
        <td>Recommended Dietary Allowance (RDA). Minimum amount of dietary protein required to meet indispensable amino acid requirements, establish nitrogen balance, and prevent muscle mass loss for nearly the entire (i.e., 97.5%) U.S. adult population</td>
        <td>(1)</td>
        </tr>
        <tr>
        <td>0.83</td>
        <td>58g of protein /<br/>203g of chicken</td>
        <td>International adult protein recommendations established by the World Health Organization</td>
        <td>WHO (1)</td>
        </tr>
        <tr>
        <td>1.1-1.5</td>
        <td>77-105 g of protein /<br/>296-404 g of chicken</td>
        <td>Higher protein intakes in critically ill pediatric patients are associated with positive protein balance, improved clinical outcomes, and lower mortality</td>
        <td>(3) cited by (1)</td>
        </tr>
        <tr>
        <td>1.5</td>
        <td>105 g of protein /<br/>404 g of chicken</td>
        <td>Beneficial in mitigating the detrimental body composition changes and muscle mass and function losses associated with sarcopenia (loss of muscle due to age)</td>
        <td>(1)</td>
        </tr>
        <tr>
        <td>1.2-2.0</td>
        <td>84-140g of protein /<br/>323-538g of chicken</td>
        <td>For optimal performance and recovery from sporting activities</td>
        <td>Academy of Nutrition and Dietetics, Dietitians of Canada, and the American College of Sports Medicine (1)</td>
        </tr>
        <tr>
        <td>1.4-2.0</td>
        <td>98-140g of protein /<br/>77-538g of chicken</td>
        <td>For physically active individuals</td>
        <td>International Society for Sports Nutrition (1)</td>
        </tr>
        <tr>
        <td>1.6</td>
        <td>112g of protein /<br/>431g of chicken</td>
        <td>Preserving muscle mass during weight loss with moderate energy deficit</td>
        <td>(2) cited by (1)</td>
        </tr>
        <tr>
        <td>1.62</td>
        <td>113g of protein /<br/>436g of chicken</td>
        <td>For muscle synthesis under resistance training: <em>Protein supplementation beyond total protein intakes of 1.62 g/kg/day resulted in no further RET-induced [resistance exercise training] gains in FFM [fat-free mass]</em></td>
        <td>(4)</td>
        </tr>
        </tbody>
        </table>
        <p>Sources: </p>
        <p>(1) <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6566799/">Dietary Protein and Muscle Mass: Translating Science to Application and Health Benefit</a></p>
        <p>(2) <a href="https://pubmed.ncbi.nlm.nih.gov/30596808/">Recent Advances in the Characterization of Skeletal Muscle and Whole-Body Protein Responses to Dietary Protein and Exercise during Negative Energy Balance</a></p>
        <p>(3) <a href="https://www.sciencedirect.com/science/article/pii/S0899900717300904?via%3Dihub">Impact of the structure and dose of protein intake on clinical and metabolic outcomes in critically ill children: A systematic review</a></p>
        <p>(4) <a href="https://pubmed.ncbi.nlm.nih.gov/28698222/">A systematic review, meta-analysis and meta-regression of the effect of protein supplementation on resistance training-induced gains in muscle mass and strength in healthy adults</a></p>
        <p>To wrap it up, in terms of g of protein / body mass / day</p>
        <ul>
        <li><strong>0.83</strong> : For the general population with a low or no physical activity (the lower <em>EAR</em> and <em>RDA</em> have been debated as insufficient for ideal health for various reasons. Also the WHO recommendation of 0.83 is more recent)</li>
        <li><strong>1.5</strong> : after 50 years old</li>
        <li><strong>1.6</strong> : if you&#39;re on a diet with a caloric deficit to prevent muscle loss.</li>
        <li><strong>1.2 - 2</strong> : for physically active individuals according to various sports societies but no gain on muscle synthesis has been proven above 1.62</li>
        </ul>
        
        
        
    </div>
    <nav class="section-nav">
        <ol>
            <li><a href="protein-information#how-much-protein-should-i-eat">How much protein should I eat?</a>
        </ol>
    </nav>
</main>