<main>
    <div>
        <h1 id="how-much-protein-should-i-eat-">How much protein should I eat?</h1>
        <p>This is a very much debated topic. </p>
        <p>We&#39;ll try to sum up the various recommendations done by official entities or based on research.</p>
        <p>They are expressed as <strong>grams of proteins per kg of body mass per day</strong> but there are also discussions about this. Some argue it should be based on <a href="https://en.wikipedia.org/wiki/Lean_body_mass">lean body mass</a>. Obviously if you are 20kg overweight, there is no reason you&#39;d need more protein. For people who are overweight, I&#39;d advise to apply one of the formulas for lean body mass or just use an estimate of their &quot;ideal weight&quot;.</p>
        <h2 id="for-adults">For adults</h2>
        <table>
        <thead>
        <tr>
        <th>g of protein / kg body mass / day</th>
        <th>Example for a 70kg individual<br/>g of protein<br/>=<br/>g of chicken meat equivalent (26g/100g)<br/> or g of tofu equivalent (14g/100g)</th>
        <th>Object</th>
        <th>Source</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>0.66</td>
        <td>46g of protein<br/>=<br/>178g of chicken<br/>or 330g of tofu</td>
        <td>Estimated Average Requirement (EAR). Minimum amount of protein expected to meet the individual indispensable amino acid requirements of 50% of the U.S. adult population</td>
        <td>IOM Institute of medicine, 2005 (1)</td>
        </tr>
        <tr>
        <td>0.8</td>
        <td>56g of protein<br/>=<br/>215g of chicken<br/>or 400g of tofu</td>
        <td>Recommended Dietary Allowance (RDA). Minimum amount of dietary protein required to meet indispensable amino acid requirements, establish nitrogen balance, and prevent muscle mass loss for nearly the entire (i.e., 97.5%) U.S. adult population</td>
        <td>IOM Institute of medicine, 2005 (1)</td>
        </tr>
        <tr>
        <td>0.83</td>
        <td>58g of protein<br/>=<br/>223g of chicken<br/>or 415g of tofu</td>
        <td>International adult protein recommendations established by the World Health Organization</td>
        <td>WHO, 2007 (1)</td>
        </tr>
        <tr>
        <td>1</td>
        <td>70g of protein<br/>=<br/>269g of chicken<br/>or 500g of tofu</td>
        <td>Minimum recommended intake for older adults</td>
        <td>French Food Safety Agency (AFSSA), 2007 (5)</td>
        </tr>
        <tr>
        <td>1.1-1.5</td>
        <td>77-105 g of protein<br/>=<br/>296-404 g of chicken<br/>or 550-750g of tofu</td>
        <td>Higher protein intakes in critically ill pediatric patients are associated with positive protein balance, improved clinical outcomes, and lower mortality</td>
        <td>2017 (3) cited by (1)</td>
        </tr>
        <tr>
        <td>1.2-1.4</td>
        <td>84-98 g of protein<br/>=<br/>323-377 g of chicken<br/>or 600-700g of tofu</td>
        <td>Minimum recommended intakes (ANC) for endurance athletes (training 1-2 h per day, 4-5 days per week)</td>
        <td>French Food Safety Agency (AFSSA), 2007 (5)</td>
        </tr>
        <tr>
        <td>1.3-1.5</td>
        <td>91-105 g of protein<br/>=<br/>350-650 g of chicken<br/>or 404-750g of tofu</td>
        <td>Minimum recommended protein intakes (ANC) for strength sports athletes</td>
        <td>French Food Safety Agency (AFSSA), 2007 (5)</td>
        </tr>
        <tr>
        <td>1.5</td>
        <td>105 g of protein<br/>=<br/>404 g of chicken<br/>or 750g of tofu</td>
        <td>Beneficial in mitigating the detrimental body composition changes and muscle mass and function losses associated with sarcopenia (loss of muscle due to age)</td>
        <td>2013 (1)</td>
        </tr>
        <tr>
        <td>1.2-2.0</td>
        <td>84-140g of protein<br/>=<br/>323-538g of chicken<br/>or 600g-1000g of tofu</td>
        <td>For optimal performance and recovery from sporting activities</td>
        <td>Academy of Nutrition and Dietetics, Dietitians of Canada, and the American College of Sports Medicine, 2016 (1)</td>
        </tr>
        <tr>
        <td>1.4-2.0</td>
        <td>98-140g of protein<br/>=<br/>77-538g of chicken<br/>or 700-1000g of tofu</td>
        <td>For physically active individuals</td>
        <td>International Society for Sports Nutrition, 2017 (1)</td>
        </tr>
        <tr>
        <td>1.6</td>
        <td>112g of protein<br/>=<br/>431g of chicken<br/>or 800g of tofu</td>
        <td>Preserving muscle mass during weight loss with moderate energy deficit</td>
        <td>2019 (2) cited by (1)</td>
        </tr>
        <tr>
        <td>1.62</td>
        <td>113g of protein<br/>=<br/>436g of chicken<br/>or 810g of tofu</td>
        <td>For muscle synthesis under resistance training: <em>Protein supplementation beyond total protein intakes of 1.62 g/kg/day resulted in no further RET-induced [resistance exercise training] gains in FFM [fat-free mass]</em></td>
        <td>2017 (4)</td>
        </tr>
        </tbody>
        </table>
        <p>References: </p>
        <p>(1) <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6566799/">Dietary Protein and Muscle Mass: Translating Science to Application and Health Benefit</a></p>
        <p>(2) <a href="https://pubmed.ncbi.nlm.nih.gov/30596808/">Recent Advances in the Characterization of Skeletal Muscle and Whole-Body Protein Responses to Dietary Protein and Exercise during Negative Energy Balance</a></p>
        <p>(3) <a href="https://www.sciencedirect.com/science/article/pii/S0899900717300904?via%3Dihub">Impact of the structure and dose of protein intake on clinical and metabolic outcomes in critically ill children: A systematic review</a></p>
        <p>(4) <a href="https://pubmed.ncbi.nlm.nih.gov/28698222/">A systematic review, meta-analysis and meta-regression of the effect of protein supplementation on resistance training-induced gains in muscle mass and strength in healthy adults</a></p>
        <p>(5) French Food Safety Agency (AFSSA) Report <a href="https://www.anses.fr/fr/system/files/NUT-Sy-Proteines.pdf">&quot;Protein Intake: Dietary Intake, Quality, Requirements and Recommendations&quot;</a>. AFSSA; Paris, France: 2007</p>
        <p>To wrap it up, in terms of g of protein / body mass / day</p>
        <ul>
        <li><strong>0.83</strong> : For the general population with a low or no physical activity (the lower <em>EAR</em> and <em>RDA</em> have been debated as insufficient for ideal health for various reasons (1). Also the WHO recommendation of 0.83 is more recent</li>
        <li><strong>1-1.5</strong> : For older adults</li>
        <li><strong>1.6</strong> : if you&#39;re on a diet with a caloric deficit to prevent muscle loss.</li>
        <li><strong>1.2 - 2</strong> : for physically active individuals according to various agencies and sports societies but no gain on muscle synthesis has been proven above 1.62</li>
        </ul>
        <h2 id="for-children">For children</h2>
        <p>Ref: <a href="https://pubmed.ncbi.nlm.nih.gov/18330140/">FAO/WHO/UNU . Protein and Amino Acid Requirements in Human Nutrition: Report of a Joint FAO/WHO/UNU Expert Consultation (2002: Geneva, Switzerland). World Health Organization. WHO; Geneva, Switzerland: 2007. (WHO Technical Report Series, No 935).</a></p>
        <p>RDA for children aged:</p>
        <ul>
        <li>1 year old: 1.14 g/kg/day</li>
        <li>2 years old: 0.97 g/kg/day</li>
        <li>3 years old: 0.90 g/kg/day</li>
        <li>10 years old: 0.91 g/kg/day</li>
        </ul>
        <p>Similar values were published by the French Food Safety Agency (AFSSA) in its <a href="https://www.anses.fr/fr/system/files/NUT-Sy-Proteines.pdf">&quot;Protein Intake: Dietary Intake, Quality, Requirements and Recommendations&quot;</a> (table 2)</p>
        <h1 id="protein-combining">Protein combining</h1>
        <h2 id="what-is-protein-combining-">What is protein combining?</h2>
        <p>Protein combining or protein complementing is a method that aims at optimizing the biological value of protein intake, especially when consuming plant proteins. </p>
        <p>As a rule of thumb:</p>
        <ul>
        <li>Animal proteins do not need combining</li>
        <li>Grains and nuts are usually deficient in lysine but have a lot of Methionine and cysteine (sulfur amino acids or SAA)</li>
        <li>Legumes are deficient in SAA but have a lot of lysine</li>
        </ul>
        <p>So the simplest way to combine plant proteins is to mix grains and nuts with legumes.</p>
        <p>More info: see <a href="protein-information#protein-combining-made-easy-for-vegetarians-and-flexitarians">Protein combining made easy for vegetarians and flexitarians</a></p>
        <h2 id="do-i-really-need-to-worry-about-protein-combining-">Do I really need to worry about protein combining?</h2>
        <p>This is actually a topic open to debate. Organizations like the <em>Academy of Nutrition and Dietetics</em> (AND) - formerly <em>American Dietetic Association</em> or (ADA) - have taken stances against the need of protein combining in vegetarian diets: </p>
        <ul>
        <li><p>in 1993 they say in their <a href="https://web.mit.edu/vsg/INFO/Health/ADA_Position_Paper">Position Paper of the ADA on Vegetarian Diets</a> : <em>Plant sources of protein alone can provide adequate amounts of the essential and nonessential amino adds, assuming that dietary protein sources from plants are reasonably varied and that caloric intake is sufficient to meet energy needs. [...] Conscious combining of these foods within a given meal, as the complementary protein dictum suggests, is unnecessary</em></p>
        </li>
        <li><p>in 2016 they say in the  <a href="https://web.archive.org/web/20161202165753/http://www.eatrightpro.org/~/media/eatrightpro%20files/practice/position%20and%20practice%20papers/position%20papers/vegetarian-diet.ashx">Position of the Academy of Nutrition and Dietetics: Vegetarian diets</a> : <em>Protein from a variety of plant foods, eaten during the course of a day, supplies enough of all indispensable (essential) amino acids when caloric requirements are met</em>.</p>
        </li>
        </ul>
        <p>The rationale is that if you eat a variety of foods in sufficient quantity you&#39;ll get enough indispensable amino acids. The minor lack that may still be present will be balanced by the surplus of protein intake as compared to your daily requirement. For example 100g of protein with DIAAS 75 is basically the same as 75g of protein with DIAAS 100 so if you eat 20-30% more protein than your requirement, you&#39;ll be fine even with a DIAAS of 75.</p>
        <p>If we dig a bit deeper : the 2016 statement refers to <em>Mangels R, Messina V, Messina M. The Dietitian’s Guide to Vegetarian Diets. 3rd ed. Sudbury, MA: Jones and Bartlett; 2011</em></p>
        <p>This book itself (<em>Protein complementarity</em> paragraph) refers to the below scientific sources :</p>
        <ul>
            <li><p>1:  <a href="https://web.archive.org/web/20171013014858/http://www.goodwinsorganics.com/wordpress/wp-content/uploads/2012/04/Young-and-Pellett-Plant-proteins-in-human-nutrition.pdf">Young VR, Pellet PL. Plant proteins in relation to human protein and amino acid nutrition. Am J Clin Nutr, 1994; 59(5 Suppl): 1203S-1212S</a></p>
            </li>
            <li><p>2: <a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC6893534">Mariotti F, Gardner CD. Dietary protein and amino acids in vegetarian diets - A review. Nutrients. 2019;11(11)</a></p>
            </li>
        </ul>
        <p>Those sources look at data for: </p>
        <ul>
        <li>the typical energy required per day by age group</li>
        <li>the protein requirement per day. For adults<ul>
        <li>(1) is based on 0.75g/kg/day (table 4)</li>
        <li>(2) is based on the RDA of 0.8g/kg/day</li>
        </ul>
        </li>
        <li>the typical vegetarian diets generally observed</li>
        </ul>
        <p>And they do calculations showing that the typical balanced vegetarian diet, including legumes, grains, fruits and vegetables is enough to provide all indispensable amino acids because <strong>on average</strong> it provides more than the daily protein requirement.</p>
        <p>However: </p>
        <ul>
        <li>it doesn&#39;t mean that protein combining is outdated: it just means that eating a variety of food items generally leads to good enough protein combined meals. For that matter, (1) states that <em>The concentration of protein and the quality of the protein in some foods of vegetable origin may be too low to make them adequate, sole sources of proteins [...] Mixtures of plant protein foods may be of potentially high nutritional quality. [...] This concept of protein, or amino acid, complementation is pertinent to a discussion of plant foods.</em></li>
        <li>if we go further than the global averages, (2) finds that in western countries vegetarians (EPIC-Oxford sample enriched with 2 more studies) <strong>16.5% males and 8.1% females have an intake below the EAR of 0.66 g/kg, which is admittedly low</strong>.</li>
        <li>also if you are aiming at more than 0.8 g/kg/day (see <a href="#how-much-protein-should-i-eat">How much protein should I eat?</a>) you may be hardly reaching your target. In this case, it may be helpful to look at protein combining in order to increase your proteins <em>DIAAS</em> without increasing the actual protein intake.</li>
        </ul>
        <p>It may be worth quoting another recent experts consultation on that matter: in 2007, the AFSSA (French Agency for food safety) says in its <a href="https://www.anses.fr/fr/system/files/NUT-Sy-Proteines.pdf">Protein intake: dietary intake, quality, requirements and recommendations</a> : <em>Adult vegans may be advised to pay careful attention to ensuring their protein and energy requirements
        are covered and to use complementary protein sources</em></p>
        <h2 id="do-i-need-to-combine-proteins-on-a-per-meal-or-per-day-basis-">Do I need to combine proteins on a per meal or per day basis?</h2>
        <p><em>Short answer</em>: <strong>it is probably enough to combine amino acids on a per day basis</strong></p>
        <p><em>Long answer</em>:</p>
        <p>A study on rat in 1947(1) found that : <em>The formation of protein molecules is a coordinated tissue function and can be accomplished only when all amino acids which take part in the formation are present at the same time</em>. The study concluded that <em>&#39;incomplete&#39; amino acid mixtures are not stored in the body, but are irreversibly further metabolized</em>. Metabolized means that the amino acids are used for energy (rather than for building tissues)</p>
        <p>However, more recent studies and done on human seem to indicate that we have the capability of storing lysine and maybe other amino acids for later use the same day. Authors of the <em>Dietetician&#39;s guide to vegetarian diets</em> wrote in 2022 (2): </p>
        <p><em>These less-restrictive guidelines consider the contribution of the pool of IAAs that is maintained by the body [...]  it has been estimated that within 3 hours following a protein-rich meal, a considerable amount of lysine is deposited in the intracellular spaces of the skeletal musculature [...] This essentially serves as a storage form of lysine that can be used for protein synthesis if a meal comprising primarily of grains, which are low in lysine, is consumed later in the day</em></p>
        <p>It&#39;s unclear if the same is true for other amino acids and for how long exactly the amino acids are stored.</p>
        <p>Another study of interest on that matter(3) has found that</p>
        <ul>
        <li><em>some 90 grams of endogenous protein per day flows through the digestive tract from the mouth to the terminal ileum in the adult human</em> <ul>
        <li>Endogenous protein are proteins that originates from the body itself, not from the food being digested.</li>
        <li>90g is comparable with the quantity of protein that we get from food during the day</li>
        </ul>
        </li>
        <li><em>Several measures of the apparent reabsorption of gut endogenous protein have been made with estimates ranging from 60 % – 80 %</em><ul>
        <li>It means that more than half of these 90g of proteins originating from the body could have played a role in the protein combining with the rest of the food ingested during the last meal.</li>
        </ul>
        </li>
        </ul>
        <p>It doesn&#39;t say what amino acids those proteins were made of, or for how long they were stored. They originated at least from the meal before the one being digested.</p>
        <p>References: </p>
        <ul>
        <li>1:  E. Geiger (1947) &quot;Experiments with delayed supplementation of incomplete amino acid mixtures&quot;, <em>Journal of Nutrition</em> 34: 97 to 111</li>
        <li>2: R. Mangels, V. Messina, M. Messina &quot;The dietetician&#39;s guide to Vegetarian Diets Issues and applications fourth edition&quot; 2022</li>
        <li>3: Paul J. Moughan and Shane M. Rutherfurd <a href="https://www.cambridge.org/core/journals/british-journal-of-nutrition/article/gut-luminal-endogenous-protein-implications-for-the-determination-of-ileal-amino-acid-digestibility-in-humans/1E26EFDC680BB22A06E59C305DE144C2">Gut luminal endogenous protein: Implications for the determination of ileal amino acid digestibility in humans</a>, 01 August 2012</li>
        </ul>        
        <h2 id="protein-combining-made-easy-for-vegetarians-and-flexitarians">Protein combining made easy for vegetarians and flexitarians</h2>
        <p>Below a quick cheat sheet with food items, their limiting amino acid, their <em>DIAAS</em> score (more info : see <a href="/diaas-information">DIAAS information</a> ) and with what to combine them</p>
        <h3 id="don-t-need-combining">Don&#39;t need combining</h3>
        <table>
        <thead>
        <tr>
        <th>Food item</th>
        <th>DIAAS</th>
        <th>Limiting amino acid</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>Soy milk</td>
        <td>99</td>
        <td>Valine</td>
        </tr>
        <tr>
        <td>Tofu</td>
        <td>98</td>
        <td>Sulfuric Amino Acids</td>
        </tr>
        <tr>
        <td>Pea protein isolate</td>
        <td>100</td>
        <td>Sulfuric Amino Acids</td>
        </tr>
        <tr>
        <td>Soy protein isolate</td>
        <td>98</td>
        <td>Sulfuric Amino Acids</td>
        </tr>
        </tbody>
        </table>
        <h3 id="can-be-combined-but-also-good-enough-as-is">Can be combined but also good enough as is</h3>
        <table>
        <thead>
        <tr>
        <th>Food item</th>
        <th>DIAAS</th>
        <th>Limiting amino acid</th>
        <th>Combine with</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>Chickpeas (soaked, cooked)</td>
        <td>86</td>
        <td>Triptophan</td>
        <td>Anything but maize, millet, soybeans</td>
        </tr>
        <tr>
        <td>Cashew nuts</td>
        <td>88</td>
        <td>Valine</td>
        <td>Eggs</td>
        </tr>
        <tr>
        <td>Quinoa</td>
        <td>88</td>
        <td>Leucine</td>
        <td>Legumes except soybeans<br/>Eggs<br/>Dariy</td>
        </tr>
        <tr>
        <td>Pistachio (roasted-crude)</td>
        <td>83-86</td>
        <td>Lysine</td>
        <td>Legumes except soybeans</td>
        </tr>
        </tbody>
        </table>
        <h3 id="complicated-to-combine">Complicated to combine</h3>
        <p>Some food items have several amino acids with scores much less than 100. Those are complicated to combine. If they don&#39;t have a really high protein content, don&#39;t count too much on them for proteins</p>
        <table>
        <thead>
        <tr>
        <th>Food item</th>
        <th>DIAAS</th>
        <th>Amino acids &lt; 75</th>
        <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>Soybeans (soaked, cooked)</td>
        <td>59</td>
        <td>Leucine, Tryptophan, Valine</td>
        <td>Probably due to antinutritional factors. Prefer soymilk or tofu.</td>
        </tr>
        <tr>
        <td>Barley</td>
        <td>45-51</td>
        <td>Depends on the preparation</td>
        <td></td>
        </tr>
        <tr>
        <td>Peanut (roasted)</td>
        <td>52</td>
        <td>Lysine, Valine, Threonine</td>
        <td></td>
        </tr>
        <tr>
        <td>Almonds</td>
        <td>46</td>
        <td>Lysine, Valine</td>
        <td></td>
        </tr>
        <tr>
        <td>Millet</td>
        <td>8-32</td>
        <td>Depends on the preparation</td>
        </tr>
        </tbody>
        </table>
        <h3 id="missing-or-incoherent-data">Missing or incoherent data</h3>
        <table>
        <thead>
        <tr>
        <th>Food item</th>
        <th>DIAAS</th>
        <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>Buckwheat (soaked, cooked)</td>
        <td>36-80</td>
        <td>Two studies with very different results</td>
        </tr>
        </tbody>
        </table>
        <h3 id="should-be-combined">Should be combined</h3>
        <table>
        <thead>
        <tr>
        <th>Food item</th>
        <th>Limiting amino acid</th>
        <th>Combine with</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>Other legumes</td>
        <td>Sulfuric Amino Acids</td>
        <td>Grains, Nuts and seeds, Eggs</td>
        </tr>
        <tr>
        <td>Other grains</td>
        <td>Lysine</td>
        <td>Legumes, Dairy</td>
        </tr>
        </tbody>
        </table>
        
        
        
        
        
        
    </div>
    <nav class="section-nav">
        <ul>
            <li><a href="protein-information#how-much-protein-should-i-eat-">How much protein should I eat?</a><ul>
            <li><a href="protein-information#for-adults">For adults</a></li>
            <li><a href="protein-information#for-children">For children</a></li>
            </ul>
            </li>
            <li><a href="protein-information#protein-combining">Protein combining</a><ul>
            <li><a href="protein-information#what-is-protein-combining-">What is protein combining?</a></li>
            <li><a href="protein-information#do-i-really-need-to-worry-about-protein-combining-">Do I really need to worry about protein combining?</a></li>
            <li><a href="protein-information#do-i-need-to-combine-proteins-on-a-per-meal-or-per-day-basis-">Do I need to combine proteins on a per meal or per day basis?</a></li>
            <li><a href="protein-information#protein-combining-made-easy-for-vegetarians-and-flexitarians">Protein combining made easy for vegetarians and flexitarians</a><ul>
            <li><a href="protein-information#don-t-need-combining">Don&#39;t need combining</a></li>
            <li><a href="protein-information#can-be-combined-but-also-good-enough-as-is">Can be combined but also good enough as is</a></li>
            <li><a href="protein-information#complicated-to-combine">Complicated to combine</a></li>
            <li><a href="protein-information#missing-or-incoherent-data">Missing or incoherent data</a></li>
            <li><a href="protein-information#should-be-combined">Should be combined</a></li>
            </ul>
            </li>
            </ul>
            </li>
            </ul>
            
    </nav>
</main>