/* Food item details*/
div.fid-name {
    background-color: #435B60;
    color: white;
    text-align: center;
    font-size: x-large;
    padding: .25rem;
    margin-bottom: 20px
  }

div.fid-section {
    text-align: center;
    padding: .25rem;
    font-weight: bold;
}

.fid-content {
  display: grid;
  grid-template-areas: "fid-key fid-value";
  grid-template-columns: 30% 70%;
  align-items: center;
}

.fid-content .fid-key {
  grid-area: fid-key;
  font-style: italic;
}

.fid-content .fid-value {
  grid-area: fid-value;
}

  