<h2>Food items</h2>
<div class="select-food-items"><b>Select food items to include in the mix</b></div>
<div class="food-type-filter">
  <b>Food type:</b>
  <form action="">
    <input type="radio" name="Food type" checked (click)="setFoodTypeFilter('all')"> All<br/>
    <input type="radio" name="Food type" (click)="setFoodTypeFilter('Grains')"> Grains
    <input type="radio" name="Food type" (click)="setFoodTypeFilter('Nuts and seeds')"> Nuts and seeds
    <input type="radio" name="Food type" (click)="setFoodTypeFilter('Legumes')"> Legumes<br/>
    <input type="radio" name="Food type" (click)="setFoodTypeFilter('Eggs and meat')"> Eggs and meat
    <input type="radio" name="Food type" (click)="setFoodTypeFilter('Dairy')"> Dairy<br/>
    <input type="radio" name="Food type" (click)="setFoodTypeFilter('Fish and seafood')"> Fish and seafood
    <input type="radio" name="Food type" (click)="setFoodTypeFilter('Supplements and other')"> Supplements and other
  </form>
  <br/>
</div>
<div class="aa-profile-filter">
  <b>Amino acid profile:</b><br/>
    <p-dropdown 
    [options]="aaProfileFilters" 
    [(ngModel)]="currentAaProfileFilter" 
    placeholder="Select a profile" />
</div>

<div class="search">
  <label for="foodItem-name"><b>Food item name:</b></label>
  <input type="text" [(ngModel)]="foodItemName" id="foodItem-name"  (keydown.enter)="setNameFilter(foodItemName)">

  <!--
  <button type="button" [disabled]="!foodItemName"
    (click)="add(foodItemName)">Add foodItem</button>
-->

  <button type="button" (click)="setNameFilter(foodItemName)">
    Search
  </button>

  <button type="button" (click)="foodItemName = ''; setNameFilter('')">
    Clear name
  </button>
</div>

<ul class="food-items">
  <li *ngFor="let foodItem of foodItems">
    <div [ngClass]="foodItem.hidden ? 'score-letter-and-name-hidden' : 'score-letter-and-name'">
      <div class="score-letter" ngbTooltip="{{foodItem.score_type}}" [ngStyle]=getScoreLetterStyle(foodItem.score_type)>{{this.getScoreLetter(foodItem.score_type)}}</div>
      <div class="name">{{foodItem.name}}</div></div>
    <div class="diaas">
      <table>
        <tr>
          <td>his</td>
          <td><b>ile</b></td>
          <td class="anabolic"><b>leu</b></td>
          <td>lys</td>
          <td>saa</td>
          <td>aaa</td>
          <td>thr</td>
          <td>trp</td>
          <td><b>val</b></td>
        </tr>
        <tr>
          <td [ngStyle]=getDiaasStyle(foodItem.histidine_score,foodItem)>{{this.roundScoreForDisplay(foodItem.histidine_score)}}</td>
          <td [ngStyle]=getDiaasStyle(foodItem.isoleucine_score,foodItem)>{{this.roundScoreForDisplay(foodItem.isoleucine_score)}}</td>
          <td [ngStyle]=getDiaasStyle(foodItem.leucine_score,foodItem)>{{this.roundScoreForDisplay(foodItem.leucine_score)}}</td>
          <td [ngStyle]=getDiaasStyle(foodItem.lysine_score,foodItem)>{{this.roundScoreForDisplay(foodItem.lysine_score)}}</td>
          <td [ngStyle]=getDiaasStyle(foodItem.saa_score,foodItem)>{{this.roundScoreForDisplay(foodItem.saa_score)}}</td>
          <td [ngStyle]=getDiaasStyle(foodItem.aaa_score,foodItem)>{{this.roundScoreForDisplay(foodItem.aaa_score)}}</td>
          <td [ngStyle]=getDiaasStyle(foodItem.threonine_score,foodItem)>{{this.roundScoreForDisplay(foodItem.threonine_score)}}</td>
          <td [ngStyle]=getDiaasStyle(foodItem.tryptophane_score,foodItem)>{{this.roundScoreForDisplay(foodItem.tryptophane_score)}}</td>
          <td [ngStyle]=getDiaasStyle(foodItem.valine_score,foodItem)>{{this.roundScoreForDisplay(foodItem.valine_score)}}</td>
        </tr>
      </table>
    </div>

    <span class="protein-weight" title="Protein content per 100g of food" ngbTooltip="Protein content per 100g of food" triggers="click:blur">{{this.roundWeightForDisplay(foodItem.protein_content)}}</span>
    <div class="greenhouse-gas" title="Carbon footprint in kg of eq CO2 per kg of protein" ngbTooltip="Carbon footprint in kg of eq CO2 per kg of protein" triggers="click:blur">{{this.roundGreenhouseGasRatioForMainDisplay(100*foodItem.greenhouse_gas/(foodItem.protein_content))}}</div>
    <button type="button" class="details" title="view details"
      (click)="foodItemDetails = foodItem; openFoodItemDetails(foodItemDetails)">
      View details
    </button>

    <button type="button" class="addtomix" title="add to mix"
      (click)="addToMix(foodItem)">
      Add to mix
    </button>
  </li>
</ul>

<!-- food items details modal -->
<food-item-details></food-item-details>

<div class="footer">
  All DIAAS scores are displayed for the reference pattern of <b>older children, adolescents and adults (> 3 years old)</b>.<br>
  All PDCAAS scores are converted to the reference pattern of <b>older children, adolescents and adults (> 3 years old)</b><br>
  Scores are displayed assuming a <b>protein nitrogen content of <i>N*6.25</i></b> (unless stated otherwise). <br>
  For greenhouse gas : when the link refers to https://agribalyse.ademe.fr/ the data if from the <b>ADEME, AGRIBALYSE data v3.1.1 – 2023</b>
</div>




