<h2>Food items</h2>
<div class="select-food-items"><b>Select food items to include in the mix</b></div>
<div class="food-type-filter">
  <b>Food type:</b>
  <form action="">
    <input type="radio" name="Food type" checked (click)="setFoodTypeFilter('all')"> All<br/>
    <input type="radio" name="Food type" (click)="setFoodTypeFilter('Grains')"> Grains
    <input type="radio" name="Food type" (click)="setFoodTypeFilter('Nuts and seeds')"> Nuts and seeds
    <input type="radio" name="Food type" (click)="setFoodTypeFilter('Legumes')"> Legumes<br/>
    <input type="radio" name="Food type" (click)="setFoodTypeFilter('Eggs and meat')"> Eggs and meat
    <input type="radio" name="Food type" (click)="setFoodTypeFilter('Dairy')"> Dairy
  </form>
  <br/>
</div>
<div class="aa-profile-filter">
  <b>Amino acid profile:</b><br/>
    <p-dropdown 
    [options]="aaProfileFilters" 
    [(ngModel)]="currentAaProfileFilter" 
    placeholder="Select a profile" />
</div>

<div class="search">
  <label for="foodItem-name"><b>Food item name:</b></label>
  <input type="text" [(ngModel)]="foodItemName" id="foodItem-name"  (keydown.enter)="setNameFilter(foodItemName)">

  <!--
  <button type="button" [disabled]="!foodItemName"
    (click)="add(foodItemName)">Add foodItem</button>
-->

  <button type="button" (click)="setNameFilter(foodItemName)">
    Search
  </button>

  <button type="button" (click)="foodItemName = ''; setNameFilter('')">
    Clear name
  </button>
</div>

<ul class="food-items">
  <li *ngFor="let foodItem of foodItems">
    <div [ngClass]="foodItem.hidden ? 'score-letter-and-name-hidden' : 'score-letter-and-name'">
      <span class="score-letter" ngbTooltip="{{foodItem.score_type}}" [ngStyle]=getScoreLetterStyle(foodItem.score_type)>{{this.getScoreLetter(foodItem.score_type)}}</span>&nbsp;
      <span class="name">{{foodItem.name}}</span></div>
    <div class="diaas">
      <table>
        <tr>
          <td>his</td>
          <td><b>ile</b></td>
          <td class="anabolic"><b>leu</b></td>
          <td>lys</td>
          <td>saa</td>
          <td>aaa</td>
          <td>thr</td>
          <td>trp</td>
          <td><b>val</b></td>
        </tr>
        <tr>
          <td [ngStyle]=getDiaasStyle(foodItem.histidine_score,foodItem)>{{this.roundScoreForDisplay(foodItem.histidine_score)}}</td>
          <td [ngStyle]=getDiaasStyle(foodItem.isoleucine_score,foodItem)>{{this.roundScoreForDisplay(foodItem.isoleucine_score)}}</td>
          <td [ngStyle]=getDiaasStyle(foodItem.leucine_score,foodItem)>{{this.roundScoreForDisplay(foodItem.leucine_score)}}</td>
          <td [ngStyle]=getDiaasStyle(foodItem.lysine_score,foodItem)>{{this.roundScoreForDisplay(foodItem.lysine_score)}}</td>
          <td [ngStyle]=getDiaasStyle(foodItem.saa_score,foodItem)>{{this.roundScoreForDisplay(foodItem.saa_score)}}</td>
          <td [ngStyle]=getDiaasStyle(foodItem.aaa_score,foodItem)>{{this.roundScoreForDisplay(foodItem.aaa_score)}}</td>
          <td [ngStyle]=getDiaasStyle(foodItem.threonine_score,foodItem)>{{this.roundScoreForDisplay(foodItem.threonine_score)}}</td>
          <td [ngStyle]=getDiaasStyle(foodItem.tryptophane_score,foodItem)>{{this.roundScoreForDisplay(foodItem.tryptophane_score)}}</td>
          <td [ngStyle]=getDiaasStyle(foodItem.valine_score,foodItem)>{{this.roundScoreForDisplay(foodItem.valine_score)}}</td>
        </tr>
      </table>
    </div>

    <span class="protein-weight" title="Protein content per 100g of food" ngbTooltip="Protein content per 100g of food" triggers="click:blur">{{this.roundWeightForDisplay(foodItem.protein_content)}}g</span>
    <button type="button" class="details" title="view details"
      (click)="foodItemDetails = foodItem; openFoodItemDetail(fooditemmodal)">
      View details
    </button>

    <button type="button" class="addtomix" title="add to mix"
      (click)="addToMix(foodItem)">
      Add to mix
    </button>
  </li>
</ul>

<!-- food item details modal -->
<ng-template #fooditemmodal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Food item details</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <div class="food-item-details-name">{{foodItemDetails?.name}}</div>
    <div><span class="fid-title">Score type: </span>{{foodItemDetails?.score_type}}</div>
    <div><span class="fid-title">
      Protein content: </span><span ngbTooltip="Weight of protein per 100g of food" triggers="click:blur">{{foodItemDetails?.protein_content}}</span>
    </div>
    <div><span class="fid-title">Food type: </span>{{foodItemDetails?.food_type}}</div>
    <div><span class="fid-title">Cooked state for protein content: </span>{{foodItemDetails?.protein_content_cooked_state}}</div>
    <div><span class="fid-title">Cooked state for DIAAS: </span>{{foodItemDetails?.diaas_cooked_state}}</div>
    <div><span class="fid-title">Reference: </span><a target="_blank" href={{foodItemDetails?.reference_link}}>link</a> {{foodItemDetails?.reference_details}}</div>
    <div><span class="fid-title">Comment: </span>{{foodItemDetails?.comment}}</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
	</div>
</ng-template>


<div class="footer">
  All DIAAS scores are displayed for the reference pattern of <b>older children, adolescents and adults (> 3 years old)</b>.<br>
  All PDCAAS scores are displayed converted to the reference pattern of <b>older children, adolescents and adults (> 3 years old)</b><br>
  Scores are displayed assuming a <b>protein nitrogen content of <i>N*6.25</i></b> (unless stated otherwise). 
</div>

