/* Food-itemComponent's private CSS styles */
.food-type-filter form {
  margin: 0.5rem 0;
}

.search {
  margin: 1rem 0;
}

.search input {
  margin: 0.5rem 0;
}


.food-items {
  list-style-type: none;
  padding: 0;
}

.food-items li {
  display: grid;
  grid-template-areas: "score-letter-and-name diaas protein-weight details addtomix";
  grid-template-columns: 40% 35% 5% repeat(2, 10%);
  margin: 1rem 0;
  align-items: center;
  background-color: #eee;
  border-radius: 4px;
}

.food-items li .score-letter-and-name {
  grid-area: score-letter-and-name;
}

.food-items li .score-letter-and-name-hidden {
  grid-area: score-letter-and-name;
}


.food-items li .diaas {
  grid-area: diaas;
}

.food-items li .protein-weight {
  grid-area: protein-weight;
  text-align: center;
}

.food-items li button {
  margin: 0.3rem;
  padding: 0.3rem 0.2rem;
}

.food-items li button.details {
  grid-area: details;
}


.food-items li button.addtomix {
  grid-area: addtomix;
}

.food-items li button:hover, .food-items li button:focus {
  color: #eee;
  background-color: #000;
}

.food-items .score-letter-and-name {
  padding: 0.5rem 0.4rem;
  color: white;
  background-color: #435B60;
  margin-right: 0.4rem;
  border-radius: 4px 0 0 4px;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.food-items .score-letter-and-name-hidden {
  padding: 0.5rem 0.4rem;
  color: white;
  background-color:  #bfbfbf;
  margin-right: 0.4rem;
  border-radius: 4px 0 0 4px;
  align-self: stretch;
  display: flex;
  align-items: center;
}


.food-items .score-letter {
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 2em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  font-size: 0.75em; 
}

.food-items li .diaas table {
  width: 100%;
}

.food-items li .diaas table tr td {
  width: 11.1%;
  text-align: center;
}

.food-items li .diaas table tr .anabolic {
  color: red;
}


.food-items input {
  max-width: 12rem;
  padding: .25rem;
}

.fid-title {
  font-weight: bold;
}

/* average screen: leave more % to diaas */
@media (max-width: 1200px) {
  .food-items li {
    grid-template-columns: 25% 50% 5% repeat(2, 10%);
  }
}

/* small screens: use 2 lines*/
@media (max-width: 900px) {
  .food-items li {
    grid-template-rows: 4rem max-content;
    grid-template-areas:
      "score-letter-and-name diaas diaas diaas"
      "score-letter-and-name protein-weight details addtomix";
    grid-template-columns: 
      repeat(4, 25%)
      repeat(4, 25%);
  }

  .food-items li .score-letter-and-name {
    margin-top: 0.3rem;
  }

  .food-items li .protein-weight {
    margin-top: 0.3rem;
  }


  .food-items li .addtomix {
    margin-top: 0.3rem;
  }

  .food-items li button {
    justify-self: center;
  }
}

/* Food item details*/
div.food-item-details-name {
  background-color: #435B60;
  color: white;
  text-align: center;
  font-size: x-large;
  padding: .25rem;
  margin-bottom: 20px
}




/* Food item details*/
div.footer {
  font-style: italic;
}
