<main>
    <div>
        <br/>
        <h1>About the DIAAS calculator</h1>
        <p>
            The <i>DIAAS calculator</i> is an open source project.<br/>
            If you want to help us improve it see <a href="https://github.com/diaas-calculator/diaas-calculator-rust?tab=readme-ov-file#contributing">DIAAS calculator on github §Contributing</a><br/>
            If you have any questions or want to discuss anything about this project, see <a href="https://github.com/diaas-calculator/diaas-calculator-rust?tab=readme-ov-file#contact-us">DIAAS calculator on github §Contact us</a>
        </p>
        <h1>News</h1>
        <ul>
            <li>June 2nd 2024: Dataset review done. Fixed several scores and added precisions on many food items scoring context</li>
            <li>May 29th 2024: Now displaying most cooked states as crude to allow easier protein content comparison</li>
            <li>May 21th 2024:<ul>
            <li>Just fixed a major bug today. In case you&#39;ve used the app before that, threonine and tryptophan scores were inverted, sorry!</li>
            <li>Gonna work on a thorough review of the dataset the next few days. Checking things like the exact score type, cooked state, food preparation...</li>
            </ul>
            </li>
            <li>May 19th 2024: google&#39;s found us. Hello Google :)</li>
            <li>May 7th 2024: we are online! Thanks clever cloud for a smooth deployment</li>
            </ul>   
        <h1>Thanks</h1> 
        <p>Special thanks to the scientists who made their results public.</p>
    </div>
</main>