<main>
    <div>
        <p>
            <br/>
            The <i>DIAAS calculator</i> is an open source project.<br/>
            If you want to help us improve it see <a href="https://github.com/diaas-calculator/diaas-calculator-rust?tab=readme-ov-file#contributing">DIAAS calculator on github §Contributing</a><br/>
            If you have any questions or want to discuss anything about this project, see <a href="https://github.com/diaas-calculator/diaas-calculator-rust?tab=readme-ov-file#contact-us">DIAAS calculator on github §Contact us</a>
        </p>
    </div>
</main>