<main>
    <div>
        <br/>
        <h1>About the DIAAS calculator</h1>
        <p>
            The <i>DIAAS calculator</i> is an open source project.<br/>
            If you want to help us improve it see <a href="https://github.com/diaas-calculator/diaas-calculator-rust?tab=readme-ov-file#contributing">DIAAS calculator on github §Contributing</a><br/>
            If you have any questions or want to discuss anything about this project, see <a href="https://github.com/diaas-calculator/diaas-calculator-rust?tab=readme-ov-file#contact-us">DIAAS calculator on github §Contact us</a>
        </p>
        <h1>News</h1>
        <ul>
            <li>August 13th 2024: added expert comments in the advanced options : the calculations and approximations detailed comments are now hidden by default</li>
            <li>August 8th 2024: added carbon footprint information. Changed a lot of protein contents in the process to have coherent figures in terms of kg of CO2eq per kg of protein</li>
            <li>July 26th 2024: added example mixes</li>
            <li>May 7th 2024: we are online! Thanks clever cloud for a smooth deployment</li>
            </ul>   
        <h1>Thanks</h1> 
        <p>Special thanks to the scientists who made their results public.</p>
    </div>
</main>