<main>
    <div>
        <h1 id="what-is-the-diaas-">What is the DIAAS?</h1>
        <h2 id="in-a-nutshell">In a nutshell</h2>
        <p><em>DIAAS</em> or <em>Digestible Indispensable Amino Acid Score</em> is a measure, experimentally determined, that provides an estimation for a given food about how much of each indispensable <em>amino acid</em> (or AA) will be assimilated by a human subject if ingested compared to it&#39;s needs.</p>
        <h2 id="indispensable-amino-acids">Indispensable amino acids</h2>
        <p>Amino acids are basic elements contained in proteins. There are two kinds of amino acids</p>
        <ul>
        <li>Dispensable amino acids: those can be synthetized by the body</li>
        <li>Indispensable amino acids: we cannot synthesize them, they must be brought by the food. </li>
        </ul>
        <p>There are 9 indispensable amino acids:</p>
        <ul>
        <li>His: histidine</li>
        <li>Ile : isoleucine</li>
        <li>Leu: leucine</li>
        <li>Lys: lysine</li>
        <li>Saa : sulfur amino acids (or Met + Cys: methionine and cysteine)</li>
        <li>Aaa: aromatic amino acids (or Phe + Tyr: phenylalanine and tyrosine)</li>
        <li>Thr: threonine</li>
        <li>Trp: tryptophan</li>
        <li>Val: valine</li>
        </ul>
        <h2 id="digestibility">Digestibility</h2>
        <p>When computing the DIAAS, a factor is applied to the quantity of amino acid initially contained in the protein to take into account how much of the amino acid is actually digested and made available to the body.</p>
        <p>This factor differ for each food item and each amino acid. It is determined experimentally.</p>
        <h2 id="human-needs-and-reference-pattern">Human needs and reference pattern</h2>
        <p>The human needs were estimated based on three age groups: </p>
        <ul>
        <li><em>Infants</em>: 0 -&gt; 6 month</li>
        <li><em>Children</em>: 6 month -&gt; 3 years</li>
        <li><em>Older children, adolescents and adults</em> : &gt; 3 years</li>
        </ul>
        <p>For example, the needs for the Infants is based on the amino acid content of breast milk that is made available to the body after digestion.</p>
        <h2 id="scoring">Scoring</h2>
        <h3 id="scoring-each-amino-acid">Scoring each amino acid</h3>
        <p>The score is a set of 9 numbers, one for each indispensable amino acid, such as a score of 100 means that the quantity of amino acid in the product equals the requirement for the age reference. This score for each amino acid is sometimes refered to as <em>DIAAR</em> : <em>Digestible Indispensable Amino Acid Ratio</em></p>
        <p>Thus, by definition the <em>DIAAR</em> of breast milk for Infants is 100 for every indispensable amino acid.</p>
        <h3 id="limiting-amino-acid">Limiting amino acid</h3>
        <p>Out of the 9 numbers, we usually keep only the lowest number which is the <em>DIAAS</em> value of the product. The amino acid corresponding to this number is the limiting amino acid in the food item.</p>
        <p>Only the lowest number is retained because the body needs all 9 indispensable amino acids to function and the lack of one can prevent some reactions to happen. However some bodily functions like muscle synthesis can benefit from a surplus of some amino acids (see discussions about <em>branched-chain amino acids</em>).</p>
        <h3 id="example">Example</h3>
        <p>Score of each amino acid in quick oats for the <em>Older children, adolescents and adults</em> age reference pattern:</p>
        <table>
        <thead>
        <tr>
        <th>his</th>
        <th><strong>iso</strong></th>
        <th><strong>leu</strong></th>
        <th>lys</th>
        <th>saa</th>
        <th>aaa</th>
        <th>thr</th>
        <th>trp</th>
        <th><strong>val</strong></th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>118</td>
        <td>110</td>
        <td>103</td>
        <td>67</td>
        <td>177</td>
        <td>184</td>
        <td>140</td>
        <td>104</td>
        <td>107</td>
        </tr>
        </tbody>
        </table>
        <p>Lysine has the lowest score so the DIAAS value in this case is <strong>67</strong>.</p>
        <p>The requirement for <em>Lysine</em> is 48mg/g of protein.</p>
        <p>The lysine score for quick oats is 67 meaning that each gram of quick oats will provide an estimate of 32mg of lysine to the body after digestion (67% * 48 ).</p>
        <h1 id="mixing-food-items">Mixing food items</h1>
        <p>Several studies have shown that it&#39;s possible to improve the DIAAS of a given food item by mixing it with another food item. Example: <a href="https://nutrition.ansci.illinois.edu/sites/nutrition.ansci.illinois.edu/files/2.%20Fanelli%20et%20al.%2C%20milk-break%20fast%20cereals%2C%20JN%2C%20Feb.%2010%2C%202021.pdf">DIAAS obtained from individual ingredients is additive in mixed meal</a></p>
        <p>The resulting DIAAS for a mix of food items can be computed as the weighted average of each amino acid DIAAS value (the weighting factor being the content of protein per 100g of product)</p>
        <h1 id="diaas-variations-and-other-measuring-systems">DIAAS variations and other measuring systems</h1>
        <h2 id="per">PER</h2>
        <p><em>PER</em> or <em>Protein efficiency ratio</em> consists of evaluating the protein quality by observing the weight gain of rats fed with it.</p>
        <h2 id="chemical-score">Chemical score</h2>
        <p>The chemical score consists in looking at the content of each amino acid in the food item and comparing it to a reference protein (for example the egg protein). It doesn&#39;t account for the amino acids lost during the digestion. </p>
        <h2 id="pdcaas">PDCAAS</h2>
        <p>The <em>PDCAAS</em> or <em>Protein Digestibility Corrected Amino Acid Score</em> was adopted by the  US FDA and the Food and Agriculture Organization of the United Nations/World Health Organization (FAO/WHO) in 1993 :  <a href="https://www.fao.org/4/U5900t/u5900t07.htm">Recent developments in protein quality evaluation</a></p>
        <p>It is taking into account the digestibility of the protein and comparing the quantity of amino acids made available to the body after digestion with a reference value for that amino acid.</p>
        <p>Establishing the <em>PDCAAS</em> for a product requires taking measurements during <em>in-vivo</em> experimentations.</p>
        <p>Note that the computation of the PDCAAS involves a hypothesis on protein nitrogen content. Two values may be used, <code>N*5.30</code> or <code>N*6.25</code>. Which one should be used depends on the type of food item and which regulatory entity&#39;s advise you follow (see discussion paragraph in <a href="https://www.frontiersin.org/articles/10.3389/fnut.2021.702857/full">this study</a>)</p>
        <p>To simplify things, as we know that the <em>PDCAAS</em> tends to over-evaluates the scores compared to the <em>DIAAS</em>, we&#39;ll always use <code>N*6.25</code> which gives the lowest score.</p>
        <h2 id="diaas">DIAAS</h2>
        <p>The DIAAS was proposed by the Food and Agriculture Organization (FAO) in 2011: <a href="https://www.fao.org/ag/humannutrition/35978-02317b979a686a57aa4593304ffc17f06.pdf">Dietary protein quality evaluation in human nutrition</a>.</p>
        <p>The differences with the <em>PDCAAS</em> are:</p>
        <ul>
        <li>The <em>PDCAAS</em> uses the faecal digestibility while the DIAAS considers the ileal digestibility. Using faecal digestibility tends to overestimate the score.</li>
        <li>The <em>PDCAAS</em> experimentation protocol that determines the digestibility involves rats while the <em>DIAAS</em> advises to use pigs preferably as the pig digestive system is closer to the human&#39;s system.</li>
        <li>The <em>PDCAAS</em> considers the global digestibility of the product&#39;s protein (a single figure) while the <em>DIAAS</em> accounts for a specific digestibility factor for each indispensable amino acid</li>
        <li>The reference values for the <em>PDCAAS</em> are based on a unique age group, the 2- to 5-year-old child which is deemed to be the more demanding. The <em>DIAAS</em> provides values for three different age groups, with more up to date data about human needs. Note that sometimes authors publish the <em>PDCAAS</em> for other age groups (it is just a multiplying factor to apply for each amino acid). In the calculator, we convert <em>PDCAAS</em> scores to the <em>DIAAS</em> reference pattern for <em>older children, adolescents and adults (&gt; 3 years old)</em> for an easier comparison with <em>DIAAS</em> scores. More information about the conversions: see <a href="https://github.com/diaas-calculator/diaas-calculator-rust?tab=readme-ov-file#dataset">readme on github</a></li>
        </ul>
        <p>More info on <em>PDCAAS</em> vs <em>DIAAS:</em></p>
        <ul>
        <li><a href="https://www.prodiet-fluid.com/blog/how-to-characterize-protein-quality/">How to characterize protein quality?</a></li>
        <li><a href="https://medium.com/illumination/the-nutritional-quality-of-plant-protein-sources-part-2-7d94e7ca3fa8">The nutritional quality of plant protein sources (part 2)</a></li>
        </ul>
        <p>Recently, a new method appeared to simplify the protocol of determination of DIAAS: it is an in vitro method based on the INFOGEST protocol. More info: </p>
        <ul>
        <li>About the INFOGEST protocol: <a href="https://www.nature.com/articles/s41596-018-0119-1">INFOGEST static in vitro simulation of gastrointestinal food digestion</a> (18 March 2019)</li>
        <li><a href="https://www.sciencedirect.com/science/article/pii/S0308814622026826">Comparing the in-vitro DIAAS values to the &quot;regular&quot; in-vivo DIAAS</a> (15 March 2023). Highlights:<ul>
        <li><em>High correlation between in vitro and in vivo digestibility (r = 0.6, P &lt; 0.0001)</em></li>
        <li><em>Good agreement of in vitro DIAAR with in vivo values (r = 0.96, P &lt; 0.0001)</em></li>
        <li><em>In vitro protocol suited for protein quality assessment</em></li>
        </ul>
        </li>
        </ul>
        <h1 id="score-types-in-the-app">Score types in the app</h1>
        <p>You&#39;ll find below the naming that we use in the app to describe what kind of score each food item represents depending on the study protocol.</p>
        <p>The score type is built as : <code>&lt;score-standard&gt;-[&lt;animal-model&gt;]-&lt;digestibility-model&gt;</code>.</p>
        <p>Example : <em>DIAAS-rat-TFPD</em></p>
        <p>The special types <em>DIAAS-proxy</em> and <em>PDCAAS-proxy</em> mean that digestibility data was missing in the literature for that food item and we have used a similar food instead. See the experts comments in the app for details in this case.</p>
        <p>All the categories below are given from most precise to least precise data for human interpolation</p>
        <ul>
        <li><p><code>&lt;score-standard&gt;</code> :</p>
        <ul>
        <li><em>DIAAS</em> : Digestible Indispensable Amino Acid Score</li>
        <li><em>PDCAAS</em>: Protein Digestibility Corrected Amino Acid Score. A few food items use this score when <code>DIAAS</code> data is not available. It is usually higher than the <em>DIAAS</em>.</li>
        </ul>
        </li>
        <li><p><code>&lt;animal-model&gt;</code>. Only present for in-vivo studies.</p>
        <ul>
        <li><em>human</em> :  experimentation with human subjects (rarely seen)</li>
        <li><em>humanpredicted</em> : Predicted from pig true ileal amino acid digestibility data based on the equations of Deglaire and Moughan et al. (2012). Used for example in <a href="https://www.fao.org/ag/humannutrition/36216-04a2f02ec02eafd4f457dd2c9851b4c45.pdf">this FAO document</a></li>
        <li><em>pig</em></li>
        <li><em>rats</em></li>
        </ul>
        </li>
        <li><p><code>&lt;digestibility-model&gt;</code> (invivo case). The explanation of the different models is out of scope of this documentation and you shouldn&#39;t worry about that. Just remember that using a different model may explain differences in the results when comparing studies and that they are given here from most precise to least precise.</p>
        <ul>
        <li><em>TID</em> : <em>true ileal digestibility</em> (sometimes called <em>real ileal digestibility</em>)</li>
        <li><em>SID</em> : <em>standardized ileal digestibility</em></li>
        <li><em>STTD</em> : <em>standardized total tract digestibility</em></li>
        <li><em>TFPD</em> : <em>True fecal protein digestibility</em></li>
        <li><em>AFD</em> : <em>Apparent Fecal digestibility</em> </li>
        </ul>
        </li>
        <li><p><code>&lt;digestibility-model&gt;</code> (invitro case):</p>
        <ul>
        <li><em>IVPD</em>: <em>In Vitro Protein Digestibility</em> : studies conducted without any human or animal but only invitro.</li>
        </ul>
        </li>
        </ul>
        <h1 id="branched-chain-amino-acids">Branched-chain amino acids</h1>
        <p>Some amino acids are known to trigger an anabolic response, meaning that they induce muscle synthesis after resistance training. This is especially the case of <strong>leucine</strong>. And also to a lesser extent <strong>isoleucine</strong> and <strong>valine</strong></p>
        <p>Those amino acids are called the <em>branched-chain amino acids</em> or <em>BCAA</em> .</p>
        <p><a href="https://pubmed.ncbi.nlm.nih.gov/24284442/">This study for example</a> showed that <em>a low-protein (6.25 g) mixed macronutrient beverage can be as effective as a high-protein dose (25 g) at stimulating increased MPS (myofibrillar protein synthesis) rates when supplemented with a high (5.0 g total leucine) amount of leucine</em> </p>
        <p>However it should be noted that BCAA alone are not enough to trigger the optimal response as concluded by <a href="https://www.scielo.br/j/eins/a/cVqNfhpkCmzTcrLWRVrVtVv/">this meta-study</a>  : <em>Existing evidence suggests BCAA stimulate muscle protein synthesis following resistance physical exercise. However, in the absence of other essential amino acids, BCAA are not able to sustain maximal synthesis responses</em>.</p>
        <p>To sum up, we can say that <strong>muscle synthesis requires a sufficient amount of all the indispensable amino acid to be optimal, but can also benefit from higher levels of <em>BCAA</em> compared to the other indispensable amino acids.</strong></p>
        <h1 id="limitations-and-precautions">Limitations and precautions</h1>
        <p>The <em>DIAAS</em> is never an exact value as many factors may impact the result.</p>
        <ul>
        <li><p>Parameters that are out of our control</p>
        <ul>
        <li><p>Difference between the pig digestive system and the human digestive system</p>
        </li>
        <li><p>Difference between each individual digestive system which can vary depending on our genes and our eating habits</p>
        </li>
        <li><p>Difference between products (varietal difference of the crops/ breed)</p>
        </li>
        </ul>
        </li>
        </ul>
        <ul>
        <li>Parameters that we can control<ul>
        <li>Preparation of the food:<ul>
        <li>Is it crude, cooked or baked? Cooking/baking can increase or lower the <em>DIAAS</em> depending on the product<ul>
        <li>Is it soaked, or germinated before cooking? Those kinds of processing may improves the <em>DIAAS</em>  of grains/legumes by reducing the quantity of some anti-nutrients</li>
        <li>Is is extruded? The extrusion of grains and cereals may improve the <em>DIAAS</em>.</li>
        <li>Did it go through a specific processing that our food doesn&#39;t usually go through?</li>
        </ul>
        </li>
        </ul>
        </li>
        </ul>
        </li>
        </ul>
        <p>Unfortunately many studies </p>
        <ul>
        <li>don&#39;t describe enough the food preparation </li>
        <li>or use a very specific preparation instead of using the food as we usually eat it (use of unfatted food, use of protein extraction processes...)</li>
        <li>or study a crude food for a product that we only consume cooked</li>
        </ul>
        
        
    </div>
    <nav class="section-nav">
        <ol>
            <li><a href="diaas-information#what-is-the-diaas-">What is the DIAAS?</a><ul>
            <li><a href="diaas-information#in-a-nutshell">In a nutshell</a></li>
            <li><a href="diaas-information#indispensable-amino-acids">Indispensable amino acids</a></li>
            <li><a href="diaas-information#digestibility">Digestibility</a></li>
            <li><a href="diaas-information#human-needs-and-reference-pattern">Human needs and reference pattern</a></li>
            <li><a href="diaas-information#scoring">Scoring</a><ul>
            <li><a href="diaas-information#scoring-each-amino-acid">Scoring each amino acid</a></li>
            <li><a href="diaas-information#limiting-amino-acid">Limiting amino acid</a></li>
            <li><a href="diaas-information#example">Example</a></li>
            </ul>
            </li>
            </ul>
            </li>
            <li><a href="diaas-information#mixing-food-items">Mixing food items</a></li>
            <li><a href="diaas-information#diaas-variations-and-other-measuring-systems">DIAAS variations and other measuring systems</a><ul>
            <li><a href="diaas-information#chemical-score">Chemical score</a></li>
            <li><a href="diaas-information#per">PER</a></li>
            <li><a href="diaas-information#pdcaas">PDCAAS</a></li>
            <li><a href="diaas-information#diaas">DIAAS</a></li>
            </ul>
            </li>
            <li><a href="diaas-information#score-types-in-the-app">Score types in the app</a></li>
            <li><a href="diaas-information#branched-chain-amino-acids">Branched-chain amino acids</a></li>
            <li><a href="diaas-information#limitations-and-precautions">Limitations and precautions</a></li>
        </ol>
    </nav>
</main>