<div class="advanced-options">
    <button id="advanced-options-button" (click)="showAdvancedOptions=!showAdvancedOptions">Show/Hide advanced options</button>
    <div class="advanced-options-inside" *ngIf="showAdvancedOptions">
      <label for="show-hidden-filter"><b>Show hidden</b></label>&nbsp;
      <button type="button" class="btn btn-outline-secondary button-help" ngbTooltip="Show less relevant data (will appear with grey background)" triggers="click:blur">?</button>
      <form action="">
        <input type="radio" name="show-hidden" [checked]="this.showHidden === 'false'" (click)="setShowHidden('false')">No<br/>
        <input type="radio" name="show-hidden" [checked]="this.showHidden === 'true'"  (click)="setShowHidden('true')">Yes
      </form>
      <label for="show-expert-comments"><b>Show expert comments</b></label>&nbsp;
      <button type="button" class="btn btn-outline-secondary button-help" ngbTooltip="Show detailed comments about calculations and approximations" triggers="click:blur">?</button>
      <form action="">
        <input type="radio" name="show-expert-comments" [checked]="this.showExpertComments === 'false'" (click)="setShowExpertComments('false')">No<br/>
        <input type="radio" name="show-expert-comments" [checked]="this.showExpertComments === 'true'"  (click)="setShowExpertComments('true')">Yes
      </form>
    </div>
</div>