<nav>
  <a routerLink="/protein-diaas-and-carbon-footprint-calculator" routerLinkActive="active">Diaas calculator</a>
  <a routerLink="/diaas-information" routerLinkActive="active">Diaas information</a>
  <a routerLink="/protein-information" routerLinkActive="active">Protein information</a>
  <a routerLink="/protein-carbon-footprint-information" routerLinkActive="active">Carbon footprint information</a>
  <a routerLink="/user-manual" routerLinkActive="active">User manual</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
</nav>
<router-outlet></router-outlet>