<main>
    <div>
        <h1 id="the-impact-of-food-on-the-greenhouse-gas-emissions">The impact of food on the greenhouse gas emissions</h1>
        <p><a href="https://ourworldindata.org/greenhouse-gas-emissions-food" target="blank">26% to 34% of greenhouse gas emissions come from food</a></p>
        <h1 id="greenhouse-gas-emissions-by-stage">Greenhouse gas emissions by stage</h1>
        <p>The most impacting stages are land use and agricultural production so it&#39;s more important what you eat than whether it&#39;s local or how it&#39;s packaged</p>
        <p>From <a href="https://ourworldindata.org/food-choice-vs-eating-local" target="blank">https://ourworldindata.org/food-choice-vs-eating-local</a> (click the image to enlarge)</p>
        <p><a href="assets/img/Environmental-impact-of-food-by-life-cycle-stage_2933.jpg" target="blank"><img src="assets/img/Environmental-impact-of-food-by-life-cycle-stage_2933.jpg" alt="Environmental impact of food by life cycle stage" width="900px"></a></p>
        <p>(The data on our website may differ as the source is not the same but the global tendency is similar)</p>
        
        
    </div>
    <nav class="section-nav">
        <ol>
            <li><a href="protein-carbon-footprint-information#the-impact-of-food-on-the-greenhouse-gas-emissions">The impact of food on the greenhouse gas emissions</a></li>
            <li><a href="protein-carbon-footprint-information#greenhouse-gas-emissions-by-stage">Greenhouse gas emissions by stage</a></li>
        </ol>
    </nav>
</main>