/* MixComponent's private CSS styles*/

/* buttons */
button:hover, button:focus {
  color: #eee;
  background-color: #000;
}

button {
  margin: 0.2rem;
  padding: 0.3rem 0.2rem;
  justify-self: center;
}

/* edit buttons */
.fi-protein-content-edit-btn, .fi-quantity-edit-button {
  cursor: pointer;
}


/* per zone css*/
.mix-controls .select-example-mix {
  margin: 0.5rem 0;
}

.mix-controls .select-example-mix .select-example-mix-label {
  margin: 0.5rem 0;
}

.mix-controls button {
  /* override the globally defined padding for buttons*/
  padding: 0.3rem 0.4rem;
}

.diaas-mix table tr td {
  width: 11.1%;
  text-align: center;
}

.diaas-mix table tr .anabolic {
  color: red;
}



.diaas-mix {
  display: grid;
  grid-template-rows: 6rem max-content;
  grid-template-columns: 30% 35% repeat(3, 5%) repeat(2, 10%);
  grid-template-areas: "total-label diaas protein-content-and-weight quantity greenhouse-gas view-details dummy";
  margin: 1rem 0 3rem 0;
  align-items: center;
  background-color: #eee;
  border-radius: 4px;
  border: 2px solid black;
}

.diaas-mix .total-label {
  grid-area: total-label;
}

.diaas-mix .diaas {
  grid-area: diaas;
}

.diaas-mix .protein-content-and-weight {
  grid-area: protein-content-and-weight;
  text-align: center;
}

.diaas-mix .protein-content-and-weight .protein-content{
  text-align: center;
  width: 2.5rem;
}



.diaas-mix .quantity {
  grid-area: quantity;
  text-align: center;
}


.diaas-mix .greenhouse-gas {
  grid-area: greenhouse-gas;
  text-align: center;
  border:  0.2rem solid;
  border-radius: 1rem;
  border-color: lightblue;
}

.diaas-mix .view-details {
  grid-area: view-details;
}



.diaas-mix .dummy {
  grid-area: dummy;
}

.diaas-mix .total-label {
  padding: 0.5rem 0.6rem;
  color: white;
  background-color: #435B60;
  margin-right: 0.8rem;
  border-radius: 4px 0 0 4px;
  align-self: stretch;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.6rem;
}

.diaas-mix table {
  width: 100%;
}

.food-items {
  list-style-type: none;
  padding: 0;
}

.food-items li {
  display: grid;
  grid-template-columns: 30% 35% repeat(3, 5%) repeat(2, 10%);
  grid-template-areas: "score-letter-and-name diaas protein-content-and-weight fi-quantity fi-greenhouse-gas fi-view-details remove";
  margin: 1rem 0;
  align-items: center;
  background-color: #eee;
  border-radius: 4px;
}

.food-items li .score-letter-and-name {
  grid-area: score-letter-and-name;
  margin-top: 0.3rem;
}


.food-items li .diaas {
  grid-area: diaas;
}

.food-items li .protein-content-and-weight {
  grid-area: protein-content-and-weight;
  text-align: center;
}

.food-items li .protein-content-and-weight .fi-protein-content {
  text-align: center;
}

.food-items li .protein-content-and-weight .fi-protein-content .fi-protein-content-span {
  width: 100%;
}


.food-items li .fi-quantity {
  grid-area: fi-quantity;
  text-align: center;
}

.food-items li .fi-quantity .fi-quantity-span {
  width: 100%;
}




.food-items li .fi-greenhouse-gas {
  grid-area: fi-greenhouse-gas;
  text-align: center;
  border:  0.2rem solid;
  border-radius: 1rem;
  border-color: lightblue;
}

.food-items li button.fi-view-details {
  grid-area: fi-view-details;
}

.food-items li button.remove {
  grid-area: remove;
}

.food-items .score-letter-and-name {
  padding: 0.5rem 0.4rem;
  color: white;
  background-color: #435B60;
  margin-right: 0.8rem;
  border-radius: 4px 0 0 4px;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.food-items .score-letter {
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 2em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  font-size: 0.75em; 
}

.food-items li .diaas table {
  width: 100%;
}


.food-items li .diaas table tr td {
  width: 11.1%;
  text-align: center;
}

.food-items li .diaas table tr .anabolic {
  color: red;
}


.food-items input {
  max-width: 12rem;
  padding: .25rem;
}

/* average screen: leave more % to diaas */
@media (max-width: 1200px) {
  .diaas-mix {
    grid-template-columns: 25% 40% repeat(3, 5%) repeat(2, 10%);
  }

  .food-items li {
    grid-template-columns: 25% 40% repeat(3, 5%) repeat(2, 10%);
  }  
}

/* small screens: use 2 lines*/
@media (max-width: 1050px) {
  .diaas-mix {
    grid-template-rows: 4rem max-content;
    grid-template-columns: 
      25% repeat(5, 15%)
      25% repeat(5, 15%);
    grid-template-areas: 
      "total-label diaas diaas diaas diaas diaas"
      "total-label protein-content-and-weight quantity greenhouse-gas view-details dummy";
  }

  .food-items li {
    grid-template-rows: 4rem max-content;
    grid-template-columns: 
      25% repeat(5, 15%)
      25% repeat(5, 15%);
    grid-template-areas: 
      "score-letter-and-name diaas diaas diaas diaas diaas"
      "score-letter-and-name protein-content-and-weight fi-quantity fi-greenhouse-gas fi-view-details remove";
  }
}

/* mix details modal*/
div.mix-details-name {
  background-color: #435B60;
  color: white;
  text-align: center;
  font-size: x-large;
  padding: .25rem;
  margin-bottom: 20px
}

div.mix-details-section {
  text-align: center;
  padding: .25rem;
  font-weight: bold;
}

.mix-details-content {
display: grid;
grid-template-areas: "mix-details-key mix-details-value";
grid-template-columns: 40% 60%;
align-items: center;
}

.mix-details-content .mix-details-key {
grid-area: mix-details-key;
font-style: italic;
}

.mix-details-content .mix-details-value {
grid-area: mix-details-value;
}

