/* MixComponent's private CSS styles*/

/* buttons */
button:hover, button:focus {
  color: #eee;
  background-color: #000;
}

button {
  margin: 0.3rem;
  padding: 0.3rem 0.2rem;
  justify-self: center;
}

/* per zone css*/
.diaas-mix table tr td {
  width: 11.1%;
  text-align: center;
}

.diaas-mix table tr .anabolic {
  color: red;
}



.diaas-mix {
  display: grid;
  grid-template-rows: 5rem max-content;
  grid-template-columns: 25% 35% repeat(2, 5%) 10% 20%;
  grid-template-areas: "total-label diaas protein-content-and-weight quantity clear-mix dummy";
  margin: 1rem 0;
  align-items: center;
  background-color: #eee;
  border-radius: 4px;
  border: 2px solid black;
}

.diaas-mix .total-label {
  grid-area: total-label;
}

.diaas-mix .diaas {
  grid-area: diaas;
}

.diaas-mix .protein-content-and-weight {
  grid-area: protein-content-and-weight;
  text-align: center;
}

.diaas-mix .protein-content-and-weight .protein-content{
  text-align: center;
  width: 2.5rem;
}



.diaas-mix .quantity {
  grid-area: quantity;
  text-align: center;
}

.diaas-mix .clear-mix {
  grid-area: clear-mix;
}

.diaas-mix .dummy {
  grid-area: dummy;
}

.diaas-mix .total-label {
  padding: 0.5rem 0.6rem;
  color: white;
  background-color: #435B60;
  margin-right: 0.8rem;
  border-radius: 4px 0 0 4px;
  align-self: stretch;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.diaas-mix table {
  width: 100%;
}

.food-items {
  list-style-type: none;
  padding: 0;
}

.food-items li {
  display: grid;
  grid-template-columns: 25% 35% repeat(2, 5%) repeat(3, 10%);
  grid-template-areas: "score-letter-and-name diaas protein-content-and-weight quantity editProteinContent editQuantity remove";
  margin: 1rem 0;
  align-items: center;
  background-color: #eee;
  border-radius: 4px;
}

.food-items li .score-letter-and-name {
  grid-area: score-letter-and-name;
  margin-top: 0.3rem;
}


.food-items li .diaas {
  grid-area: diaas;
}

.food-items li .protein-content-and-weight {
  grid-area: protein-content-and-weight;
  text-align: center;
}

.food-items li .protein-content-and-weight .protein-content {
  text-align: center;
  width: 2.5rem;
}


.food-items li .quantity {
  grid-area: quantity;
  text-align: center;
}


.food-items li button.editProteinContent {
  grid-area: editProteinContent;
}

.food-items li button.editQuantity {
  grid-area: editQuantity;
}

.food-items li button.remove {
  grid-area: remove;
}

.food-items .score-letter-and-name {
  padding: 0.5rem 0.4rem;
  color: white;
  background-color: #435B60;
  margin-right: 0.8rem;
  border-radius: 4px 0 0 4px;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.food-items .score-letter {
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 2em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  font-size: 0.75em; 
}

.food-items li .diaas table {
  width: 100%;
}


.food-items li .diaas table tr td {
  width: 11.1%;
  text-align: center;
}

.food-items li .diaas table tr .anabolic {
  color: red;
}


.food-items input {
  max-width: 12rem;
  padding: .25rem;
}

/* average screen: leave more % to diaas */
@media (max-width: 1200px) {
  .diaas-mix {
    grid-template-columns: 15% 45% repeat(2, 5%) 10% 20%;
  }

  .food-items li {
    grid-template-columns: 15% 45% repeat(2, 5%) repeat(3, 10%);
  }  
}

@media (max-width: 900px) {
  .diaas-mix {
    grid-template-rows: 4rem max-content;
    grid-template-columns: 
      repeat(5, 20%)
      repeat(5, 20%);
    grid-template-areas: 
      "total-label diaas diaas diaas diaas"
      "total-label protein-content-and-weight quantity clear-mix dummy";
  }

  .food-items li {
    grid-template-rows: 4rem max-content;
    grid-template-columns: 
      25% repeat(5, 15%)
      25% repeat(5, 15%);
    grid-template-areas: 
      "score-letter-and-name diaas diaas diaas diaas diaas"
      "score-letter-and-name protein-content-and-weight quantity editProteinContent editQuantity remove";
  }
}