<h2>Diaas calculation for the current mix</h2>
<div class="mix-controls">
  <div class="select-example-mix">
    <div class="select-example-mix-label"><b>Choose an example mix or compose your own</b></div>
      <p-dropdown 
        [options]="exampleMixes" 
        [(ngModel)]="exampleMixDetails" 
        optionLabel="name" 
        placeholder="Select example mix"/>
  </div>


  <div class="mix-description">
    <p>{{exampleMixDetails.description}}</p>
  </div>
  

  <button type="button" class="load-example-mix" title="Load example mix"
    (click)="this.loadExampleMix()">
    Load example mix
  </button>

  <button type="button" class="clear-mix" title="Clear mix"
    (click)="this.clearMixAll()">
    Clear mix
  </button>
</div>

<div id="diaasmix" class="diaas-mix">
  <span class="total-label">Total</span>
  <table class="diaas">
    <tr>
      <td>his</td>
      <td><b>ile</b></td>
      <td class="anabolic"><b>leu</b></td>
      <td>lys</td>
      <td>saa</td>
      <td>aaa</td>
      <td>thr</td>
      <td>trp</td>
      <td><b>val</b></td>
    </tr>
    <tr>
      <td [ngStyle]=getDiaasStyle(mixDIAASAndWeights.histidine_score,mixDIAASAndWeights)>{{this.roundScoreForDisplay(mixDIAASAndWeights.histidine_score)}}</td>
      <td [ngStyle]=getDiaasStyle(mixDIAASAndWeights.isoleucine_score,mixDIAASAndWeights)>{{this.roundScoreForDisplay(mixDIAASAndWeights.isoleucine_score)}}</td>
      <td [ngStyle]=getDiaasStyle(mixDIAASAndWeights.leucine_score,mixDIAASAndWeights)>{{this.roundScoreForDisplay(mixDIAASAndWeights.leucine_score)}}</td>
      <td [ngStyle]=getDiaasStyle(mixDIAASAndWeights.lysine_score,mixDIAASAndWeights)>{{this.roundScoreForDisplay(mixDIAASAndWeights.lysine_score)}}</td>
      <td [ngStyle]=getDiaasStyle(mixDIAASAndWeights.saa_score,mixDIAASAndWeights)>{{this.roundScoreForDisplay(mixDIAASAndWeights.saa_score)}}</td>
      <td [ngStyle]=getDiaasStyle(mixDIAASAndWeights.aaa_score,mixDIAASAndWeights)>{{this.roundScoreForDisplay(mixDIAASAndWeights.aaa_score)}}</td>
      <td [ngStyle]=getDiaasStyle(mixDIAASAndWeights.threonine_score,mixDIAASAndWeights)>{{this.roundScoreForDisplay(mixDIAASAndWeights.threonine_score)}}</td>
      <td [ngStyle]=getDiaasStyle(mixDIAASAndWeights.tryptophane_score,mixDIAASAndWeights)>{{this.roundScoreForDisplay(mixDIAASAndWeights.tryptophane_score)}}</td>
      <td [ngStyle]=getDiaasStyle(mixDIAASAndWeights.valine_score,mixDIAASAndWeights)>{{this.roundScoreForDisplay(mixDIAASAndWeights.valine_score)}}</td>
    </tr>
  </table>

  <div class="protein-content-and-weight">
    <span class="protein-content" title="Average protein content per 100g (counting only listed raw ingredients)" ngbTooltip="Average protein content per 100g (counting only listed raw ingredients)" triggers="click:blur">{{this.roundWeightForDisplay(mixDIAASAndWeights.protein_content)}}g </span>
    <br/>
    <span class="protein-weight" title="Total protein weight (counting only listed raw ingredients)" ngbTooltip="Total protein weight (counting only listed raw ingredients)" triggers="click:blur">{{this.roundWeightForDisplay(mixDIAASAndWeights.protein_weight)}}g</span>  
  </div>
  <span class="quantity" title="Total food weight (counting only listed raw ingredients)" ngbTooltip="Total food weight (counting only listed raw ingredients)" triggers="click:blur">{{this.roundWeightForDisplay(mixDIAASAndWeights.food_weight)}}g </span>

  <button type="button" title="View mix details" class="view-details"
  (click)="openMixDetails(mixdetailsmodal)">
  View mix details
</button>

  <div class="dummy">
  </div>
</div>


<!-- mix details modal -->
<ng-template #mixdetailsmodal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="mixmodal-basic-title">Mix details</h4>
    <!-- for some reason the cross gains last focus status and therefore is black upon opening the modal -->
		<!--<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>-->
	</div>
	<div class="modal-body">
    <div class="mix-details-name">{{exampleMixDetails.name}}</div>
    <div><span class="fid-title">Recipe link: </span><a target="_blank" href={{exampleMixDetails.recipe_link}}>Click here</a> (this will bring you to an external website)</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
	</div>
</ng-template>



<!-- food item details modal TODO put the code in common-->
<ng-template #fooditemmodal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Food item details</h4>
		<!--<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>-->
	</div>
	<div class="modal-body">
    <div class="food-item-details-name">{{foodItemDetails?.name}}</div>
    <div><span class="fid-title">Score type: </span>{{foodItemDetails?.score_type}}</div>
    <div><span class="fid-title">
      Protein content: </span>{{foodItemDetails?.protein_content}} 
      <button type="button" class="btn btn-outline-secondary" ngbTooltip="Weight of protein per 100g of food" triggers="click:blur">?</button>
    </div>
    <div><span class="fid-title">Food type: </span>{{foodItemDetails?.food_type}}</div>
    <div><span class="fid-title">Cooked state for protein content: </span>{{foodItemDetails?.protein_content_cooked_state}}</div>
    <div><span class="fid-title">Cooked state for DIAAS: </span>{{foodItemDetails?.diaas_cooked_state}}</div>
    <div><span class="fid-title">Reference: </span><a target="_blank" href={{foodItemDetails?.reference_link}}>link</a> {{foodItemDetails?.reference_details}}</div>
    <div><span class="fid-title">Comment: </span>{{foodItemDetails?.comment}}</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
	</div>
</ng-template>

<ul class="food-items">
  <li *ngFor="let foodItem of foodItems">
    <div class="score-letter-and-name"><span class="score-letter" ngbTooltip="{{foodItem.score_type}}" [ngStyle]=getScoreLetterStyle(foodItem.score_type)>{{this.getScoreLetter(foodItem.score_type)}}</span>&nbsp;<span class="name">{{foodItem.name}}</span></div>

    <ng-template #editProteinContentInput>
      <input #foodItemEditProteinContentInput type="string" class="fi-protein-content-span" [value]="editFoodItemProteinContent!.protein_content" (blur)="editProteinContent(foodItemEditProteinContentInput.value)" (keydown.enter)="editProteinContent(foodItemEditProteinContentInput.value)"/>
    </ng-template>

    <ng-template #editQuantityInput>
      <input #foodItemEditQuantityInput type="string" class="fi-quantity-span" [value]="editFoodItemQuantity!.food_weight" (blur)="editQuantity(foodItemEditQuantityInput.value)" (keydown.enter)="editQuantity(foodItemEditQuantityInput.value)"/>
    </ng-template>
    <div class="diaas">
      <table>
        <tr>
          <td>his</td>
          <td><b>ile</b></td>
          <td class="anabolic"><b>leu</b></td>
          <td>lys</td>
          <td>saa</td>
          <td>aaa</td>
          <td>thr</td>
          <td>trp</td>
          <td><b>val</b></td>
        </tr>
        <tr>
          <td [ngStyle]=getDiaasStyle(foodItem.histidine_score,foodItem)>{{this.roundScoreForDisplay(foodItem.histidine_score)}}</td>
          <td [ngStyle]=getDiaasStyle(foodItem.isoleucine_score,foodItem)>{{this.roundScoreForDisplay(foodItem.isoleucine_score)}}</td>
          <td [ngStyle]=getDiaasStyle(foodItem.leucine_score,foodItem)>{{this.roundScoreForDisplay(foodItem.leucine_score)}}</td>
          <td [ngStyle]=getDiaasStyle(foodItem.lysine_score,foodItem)>{{this.roundScoreForDisplay(foodItem.lysine_score)}}</td>
          <td [ngStyle]=getDiaasStyle(foodItem.saa_score,foodItem)>{{this.roundScoreForDisplay(foodItem.saa_score)}}</td>
          <td [ngStyle]=getDiaasStyle(foodItem.aaa_score,foodItem)>{{this.roundScoreForDisplay(foodItem.aaa_score)}}</td>
          <td [ngStyle]=getDiaasStyle(foodItem.threonine_score,foodItem)>{{this.roundScoreForDisplay(foodItem.threonine_score)}}</td>
          <td [ngStyle]=getDiaasStyle(foodItem.tryptophane_score,foodItem)>{{this.roundScoreForDisplay(foodItem.tryptophane_score)}}</td>
          <td [ngStyle]=getDiaasStyle(foodItem.valine_score,foodItem)>{{this.roundScoreForDisplay(foodItem.valine_score)}}</td>
        </tr>
      </table>
    </div>

    <div class="protein-content-and-weight">
      <div class="fi-protein-content">
        <span *ngIf="foodItem!==editFoodItemProteinContent; else editProteinContentInput" class="fi-protein-content-span" title="Protein content per 100g" ngbTooltip="Protein content per 100g" triggers="click:blur">{{this.roundWeightForDisplay(foodItem.protein_content)}}g </span>
        <img class="fi-protein-content-edit-btn" src="assets/img/Pencil_-_Noun_project_8825.svg" width=15rem
          (click)="editFoodItemProteinContent = foodItem"/>
      </div>
      <br/>
      <span class="protein-weight" title="Protein weight in mix" ngbTooltip="Protein weight in mix" triggers="click:blur">{{this.roundWeightForDisplay(foodItem.protein_weight)}}g</span>  
    </div>
    <div class="fi-quantity">
      <span *ngIf="foodItem!==editFoodItemQuantity; else editQuantityInput" class="fi-quantity-span" title="Food weight in mix" ngbTooltip="Food weight in mix" triggers="click:blur">{{this.roundWeightForDisplay(foodItem.food_weight)}}g </span>
      <img class="fi-quantity-edit-button" src="assets/img/Pencil_-_Noun_project_8825.svg" width=15rem
        (click)="editFoodItemQuantity = foodItem"/>
    </div>

    <button type="button" class="fi-view-details" title="view details"
      (click)="foodItemDetails = foodItem; openFoodItemDetail(fooditemmodal)">
      View details
    </button>
    <button type="button" class="remove" title="remove foodItem"
      (click)="remove(foodItem)">
      Remove
    </button>
  </li>
</ul>
